@font-face {
  font-family: 'Montserrat';
  src: url(/src/assets/fonts/Montserrat-VariableFont_wght.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.df-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.df{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1221px) {
  html{
      font-size: 14px;
  }
}

@media screen and (max-width: 1071px) {
  html{
      font-size: 12px;
  }
}

@media screen and (max-width: 916px) {
  html{
    font-size: 16px;
  }
}

@media screen and (max-width: 844px) {
  html{
    font-size: 13px;
  }
}

@media screen and (max-width: 635px) {
  html{
    font-size: 10px;
  }
}